.footer {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #292929;
}

.footer p {
    margin: 0%;
}


.footer a {
    text-decoration: none;
    color: #3483fa;
}


@media (min-width: 481px) and (max-width: 1024px) {
    .footer p {
        margin: 0%;
        font-size: 0.9em;
    }


    .footer a {
        text-decoration: none;
        color: #3483fa;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .footer {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #292929;
    }

    .footer p {
        margin: 0%;
        font-size: 0.8em;
    }


    .footer a {
        text-decoration: none;
        color: #3483fa;
        font-size: 0.75em;
    }
}