@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

.header {
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 1px black;
    gap: 10px;
    padding: 10px 10px;
}

.header img {
    width: 70px;
}

.header h1 {
    font-family: "Rowdies", serif;
    font-weight: 300;
    font-style: normal;
    color: #292929;
}


@media (min-width: 481px) and (max-width: 1024px) {
    .header {
        width: 100%;
        display: flex;
        align-items: center;
        box-shadow: 0px 0px 1px black;
        gap: 10px;
        padding: 5px 5px;
    }

    .header img {
        width: 50px;
    }

    .header h1 {
        font-family: "Rowdies", serif;
        font-weight: 300;
        font-style: normal;
        color: #292929;
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .header {
        width: 100%;
        display: flex;
        align-items: center;
        box-shadow: 0px 0px 1px black;
        gap: 10px;
        padding: 5px 5px;
    }

    .header img {
        width: 50px;
    }

    .header h1 {
        font-family: "Rowdies", serif;
        font-weight: 300;
        font-style: normal;
        color: #292929;
        font-size: 20px;
    }
}