@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

.header {
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 1px black;
    gap: 10px;
    padding: 5px 20px;
}

.header img {
    width: 70px;
    height: 70px;
}

.header h1 {
    font-family: "Rowdies", serif;
    font-weight: 300;
    font-style: normal;
    color: #292929;
}