.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    border: 2px rgb(105, 105, 105) solid;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    padding: 30px 10px;
    text-align: center;
}

.container_choose_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.custon_input_file {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 30px;
    background-color: #3483fa;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-size: 0.85rem;
    transition: 200ms;
}

.custon_input_file:hover {
    background-color: #1c60c6;
}

.container_choose_image input[type="file"] {
    display: none;
}

.container_choose_image p {
    font-size: 0.7rem;
}

.image_error_msg {
    color: red;
    font-size: 0.7rem;
}

.container_choose_type {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container_types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.error_type {
    color: red;
    font-size: 0.7rem;
}

.input_submit {
    padding: 10px 30px;
    background-color: #3483fa;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-size: 0.85rem;
    border: none;
    transition: 200ms;
}

.input_submit:hover {
    background-color: #1c60c6;
}