.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.default_container {
    width: 50%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    border-radius: 5px;
    background-color: rgb(242, 242, 242);
    padding: 20px;
    border: 2px rgb(105, 105, 105) solid;
}